$primary-green: #6ACA25;

.card {
    transition: .5s ease;
    min-width: 100% !important; 
    background-color: #e4e4e4;
    color: dark !important;
    text-align: center;

    &:hover {
      transform: scale(1.06);
      z-index: 2;
      box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.479);
      border: 3px solid $primary-green;
     }

}



@media screen and (max-width: 350px){
    .card {
        h5 {
          font-size: 1.2rem;
        }
  
        p {
          font-size: .8rem;
        }
      }
}

@media screen and (min-width: 481px) and (max-width: 768px){
    .card {
        h5 {
          font-size: 1.3rem;
        }
  
        p {
          font-size: 1rem;
        }
      }
}

@media screen and (min-width: 769px) and (max-width: 1199px){
    .card {
        h5 {
            font-size: 1.4rem;
          }
    
          p {
            font-size: 1rem;
          }
    }
}