 <div class="card h-100 text-dark bg-white mb-3 text-center rounded-0" *ngIf="!product">
  <ng-content select="img"></ng-content>
  <div class="card-body" [ngStyle]="styleCard ? {'background-color': styleCard } : {'background-color': 'white'}">
    <h5 class="card-title font-weight-light">Title</h5>
    <p class="card-text">Um exemplo de textssddssssso rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
  </div>
  <div class="card-footer py-2 px-1 border-0" [ngStyle]="styleCard ? {'background-color': styleCard } : {'background-color': 'white'}">
    <ng-content select="a"></ng-content>
  </div>
</div> 

<div class="card h-100 text-dark bg-white mb-3 text-center rounded-0" *ngIf="product">
  <ng-content select="img"></ng-content>
  <div class="card-body" [ngStyle]="styleCard ? {'background-color': styleCard } : {'background-color': 'white'}">
    <h6 class="card-title font-weight-light">{{product.name}}</h6>
    <div class="row h-100">
      <div class="col bg-danger">{{product.price}}</div>
      <div class="col my-auto">
        <button class="btn btn-sm btn-warning">Detalhes +</button>
      </div>
    </div>
  </div>
</div>