<p-card>
  <div class="product-list-item">
    <img src="{{images}}/{{product.image}}" width="10%" [alt]="product.name"/>
    <div class="product-list-detail">
        <div class="product-name">{{product.name}}</div>
        <div class="product-description">{{product.description}}</div>
        <p-rating [ngModel]="val" [readonly]="false" [cancel]="false"></p-rating>
    </div>
    <div class="product-list-action">
        <span class="product-price">{{product.price |currencyBrazil}}</span>
        <p-button icon="pi pi-shopping-cart" (onClick)="buyItem()"  label="Comprar" [disabled]="!product.active || !logged"></p-button>
        <small class='bg-warning rounded p-1' *ngIf="product.amount < 10 && product.amount > 2">Estoque Baixo</small>
        <small class='bg-success rounded p-1' *ngIf="product.amount > 10">Disponível</small>
        <small class='bg-warning rounded p-1' *ngIf="product.amount < 2">Indisponível</small>
    </div>
</div>
</p-card>

<p-toast position="bottom-center" key="c" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <div class="p-text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="p-grid p-fluid">
                <div class="p-col-6">
                    <button type="button" pButton  label="Sim" (click)="navigateToLogin()" class="p-button-success"></button>
                </div>
                <div class="p-col-6">
                    <button type="button" pButton label="Não" (click)="clearMessages()" class="p-button-secondary"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>