<p-card>
  <div class="product-list-item">
    <img src="{{images}}/{{product.image}}" width="10%" [alt]="product.name"/>
    <div class="product-list-detail">
        <div class="product-name">{{product.name}}</div>
        <div class="product-description">{{product.description}}</div>
        <p-rating [ngModel]="val" [readonly]="false" [cancel]="false"></p-rating>
    </div>
    <div class="product-list-action">
        <span class="product-price">{{product.price |currencyBrazil}}</span>
        <p-button icon="pi pi-shopping-cart" (onClick)="buyItem()"  label="Comprar" [disabled]="!product.active"></p-button>
        <small class='bg-warning rounded p-1' *ngIf="product.amount < 10">Estoque Baixo</small>
        <small class='bg-success rounded p-1' *ngIf="product.amount > 10">Disponível</small>
        <small class='bg-warning rounded p-1' *ngIf="product.amount === 0">Indisponível</small>
    </div>
</div>
</p-card>
