$primary-green: #6ACA25;
:host ::ng-deep {
  .p-toast-message-custom {
      background-color: #5c5c5c;
      border: solid $primary-green;
      border-width: 0 0 0 6px;
      color: #e7e7e7;
      .p-toast-icon-close {
          color: #2c1e30;
      }
  }
}

  ::-webkit-scrollbar {
  display: none; 
   width: auto;
    height: 8px;
   background-color: $primary-green;
 }

  ::-webkit-scrollbar-button {
   width: 8px;
    height: 8px;
    background: yellow;
 }

  ::-webkit-scrollbar-thumb {
     background: #000; 
 }

 #productss{
  background-color: rgb(240, 240, 46) !important;
  height: 75% !important;
  margin: 0;
}

.swiper-container.rounded {
  border: 3px solid $primary-green;
    
    &:hover{
      box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.479);  
    }
}

.box {
  text-align: center;

}

.box-stretched {
  height: 100%;
}

.vertical-container {
  margin: 0;
  height: 200px;
  border-radius: 4px;
}