 <div class="parent pl-3 py-4 mx-auto">
    <div class="div1">
      <app-card>
        <img src="../../../assets/montagemBan.jpg" class="card-img-top">
        <a (click)="logout()" class="btn d-block m-0 text-white buttonS" style="background-color: #FF9900">Logout</a>
      </app-card>
    </div>
  
    <div class="div2 px-4">
      <app-card>
  
      </app-card>
    </div>
  
    <div class="div3 px-4">
     <app-card></app-card>
    </div>
  
    <div class="div4 px-3">
      <app-card>
        <a [routerLink]="'produtos'" class="btn d-block m-0 text-white buttonS" style="background-color: #FF9900">Catálogo</a>
      </app-card>
    </div>
  </div>
  <ngx-spinner bdColor = "rgba(0, 0, 0, 1)" size = "large" color = "#6ACA25" type = "pacman" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
