
::-webkit-scrollbar {
 display: none;   
  width: 5px;
   height: 8px;
  background-color: whitesmoke;
}


.main-grid {
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: auto;
  height: 90vh;
  width: auto;
  
  #categories {
    
    grid-area: 1 / 1 / 1 / 2;
    height: 100%;
    overflow-y: auto;
  }
  
  #catalog {
    grid-area: 1 / 2 / 1 / 5;
    display: grid;
    grid-template-rows: 40px auto;
    grid-template-columns: repeat(1, 100%);
  }
}



.products {
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 5px;
    height: 100%;
    
    overflow-x: auto;
    grid-area: 2 / 1 / 4 / 1;
    grid-template-rows: repeat(2, 50%);
  
      .mx-3 {
        padding: 2%;
      }
}

.filter {
  grid-area: 1 / 1 / 1 / 1;
}

#inps {
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
#inps:focus {
  width: 100% !important;
}