<div class="container mt-3">
    <div class="jumbotron" style="background-color: #6ACA25;border-radius: 0%;">
        <h2 class="text-center">Ecommerce</h2>
        <h5 class="text-center">Diversão desde a criação</h5>
        <div class="jumbotron mt-5" style="border-radius: 0%;">
            
        </div>
    </div>
    
    <div class="p-3 container d-flex flex-column text-center">
        <img class="my-icon-class" src="../../../assets/icon.png" (click)="startNavigate()">
        <small  style="color: darkgray;">START</small>
    </div>
    
</div>
<footer style="bottom: 0px; position: fixed;">
    <fa-icon [icon]="faFacebookF" [styles]="{'stroke': '#4A86E8', 'color': '#4A86E8'}" class="ml-4"></fa-icon>
    <fa-icon [icon]="faTwitter" [styles]="{'stroke': '#4A86E8', 'color': '#4A86E8'}" class="ml-3"></fa-icon>
</footer>

