<p-breadcrumb [home]="home" [model]="bread"></p-breadcrumb>
<div id="stepper2" class="bs-stepper">
  <div class="bs-stepper-header" id="stepperH" (wheel)="onWheel($event)" style="overflow-x: scroll !important; width: 100% !important;" role="tablist">
    <!-- your steps here -->
    <div class="step" data-target="#plataform">
      <button type="button" class="step-trigger" role="tab" aria-controls="plataform" id="plataform-trigger">
        <span class="bs-stepper-circle">1</span>
        <span class="bs-stepper-label">Plataforma</span>
      </button>
    </div>

    <div class="line"></div>
    
    <div class="step" data-target="#mainboard">
      <button type="button" class="step-trigger" role="tab" aria-controls="mainboard" id="mainboard-trigger">
        <span class="bs-stepper-circle">2</span>
        <span class="bs-stepper-label">Placa Mãe</span>
      </button>
    </div>

    <div class="line"></div>

    <div class="step" data-target="#processor">
      <button type="button" class="step-trigger" role="tab" aria-controls="processor" id="processor-trigger">
        <span class="bs-stepper-circle">3</span>
        <span class="bs-stepper-label">Processador</span>
      </button>
    </div>

    <div class="line"></div>

    <div class="step" data-target="#memory">
      <button type="button" class="step-trigger" role="tab" aria-controls="memory" id="memory-trigger">
        <span class="bs-stepper-circle">4</span>
        <span class="bs-stepper-label">Memória RAM</span>
      </button>
    </div>

    <div class="line"></div>

    <div class="step" data-target="#vga">
      <button type="button" class="step-trigger" role="tab" aria-controls="vga" id="vga-trigger">
        <span class="bs-stepper-circle">5</span>
        <span class="bs-stepper-label">Placa de Vídeo</span>
      </button>
    </div>

    <div class="line"></div>

    <div class="step" data-target="#hd">
      <button type="button" class="step-trigger" role="tab" aria-controls="hd" id="hd-trigger">
        <span class="bs-stepper-circle">6</span>
        <span class="bs-stepper-label">HD</span>
      </button>
    </div>

    <div class="line"></div>

    <div class="step" data-target="#ssd">
      <button type="button" class="step-trigger" role="tab" aria-controls="ssd" id="ssd-trigger">
        <span class="bs-stepper-circle">7</span>
        <span class="bs-stepper-label">SSD</span>
      </button>
    </div>
    
    <div class="line"></div>

    <div class="step" data-target="#powers">
      <button type="button" class="step-trigger" role="tab" aria-controls="powers" id="powers-trigger">
        <span class="bs-stepper-circle">8</span>
        <span class="bs-stepper-label">Fonte</span>
      </button>
    </div>

    <div class="line"></div>

    <div class="step" data-target="#gabinet">
      <button type="button" class="step-trigger" role="tab" aria-controls="gabinet" id="gabinet-trigger">
        <span class="bs-stepper-circle">9</span>
        <span class="bs-stepper-label">Gabinete</span>
      </button>
    </div>

    <div class="line"></div>

    <div class="step" data-target="#cooler">
      <button type="button" class="step-trigger" role="tab" aria-controls="cooler" id="cooler-trigger">
        <span class="bs-stepper-circle">10</span>
        <span class="bs-stepper-label">Cooler</span>
      </button>
    </div>

    <div class="line"></div>

    <div class="step" data-target="#monitor">
      <button type="button" class="step-trigger" role="tab" aria-controls="monitor" id="monitor-trigger">
        <span class="bs-stepper-circle">11</span>
        <span class="bs-stepper-label">Monitor</span>
      </button>
    </div>

    <div class="line"></div>

    <div class="step" data-target="#teclado">
      <button type="button" class="step-trigger" role="tab" aria-controls="teclado" id="teclado-trigger">
        <span class="bs-stepper-circle">12</span>
        <span class="bs-stepper-label">Teclado</span>
      </button>
    </div>

    <div class="line"></div>

    <div class="step" data-target="#mouse">
      <button type="button" class="step-trigger" role="tab" aria-controls="mouse" id="mouse-trigger">
        <span class="bs-stepper-circle">13</span>
        <span class="bs-stepper-label">Mouse</span>
      </button>
    </div>

    <div class="line"></div>

    <div class="step" data-target="#headset">
      <button type="button" class="step-trigger" role="tab" aria-controls="headset" id="headset-trigger">
        <span class="bs-stepper-circle">14</span>
        <span class="bs-stepper-label">HeadSet</span>
      </button>
    </div>

    <div class="step" data-target="#confirm">
      <button type="button" class="step-trigger" role="tab" aria-controls="confirm" id="confirm-trigger">
        <span class="bs-stepper-circle">#</span>
        <span class="bs-stepper-label">Confirmação</span>
      </button>
    </div>

  </div>
  <div class="bs-stepper-content">
    <!-- your steps content here -->
    <div id="plataform" class="content" role="tabpanel" aria-labelledby="plataform-trigger">
      <div class="p-card p-5 d-flex justify-content-center">
        <img src="../../../assets/amd.png" class="mx-2 next" alt="Logo AMD" width="130px" (click)="chooseBrand('amd')">
        <img src="../../../assets/intel.png" class="mx-2 next" alt="Logo Intel" width="135px" (click)="chooseBrand('intel')">
      </div>
    </div>

    <!--Placa mãe-->
    <div id="mainboard" class="content" role="tabpanel" aria-labelledby="mainboard-trigger">
      <div class="p-card" *ngIf="showMotherboards">
        <p-table #dt1  [value]="filterProductsCat('placa-mae', 3)" selectionMode="single" [(selection)]="selectedProduct" 
         [globalFilterFields]="['name']" styleClass="p-datatable-sm p-datatable-responsive-demo" scrollHeight="200px" [scrollable]="true">
          <ng-template pTemplate="caption">
              <div class="p-d-flex p-ai-center p-jc-between">
                <span class="p-input-icon-left p-ml-auto">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text"  (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Buscar"/>
              </span>
              </div>
          </ng-template>
          <ng-template pTemplate="header">
              <tr>
                  <th class="text-center">#</th>
                  <th class="text-center">Nome</th>
                  <th class="text-center">Modelo</th>
                  <th class="text-center" pSortableColumn="price">Preço <p-sortIcon field="price"></p-sortIcon></th>
                  <th class="text-center">Escolher</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
              <tr>
                <td class="text-center"><img [src]="images + '/' + product.image" [alt]="product.name" width="100" class="p-shadow-4"/></td>
                <td class="text-center">{{product.name}}</td>
                <td class="text-center">{{product.model}}</td>
                <td class="text-center">{{product.price | currencyBrazil}}</td>
                <td class="text-center">
                  <p-tableRadioButton [value]="product"></p-tableRadioButton>
                </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="summary" let-product>
              <div class="p-d-flex p-ai-center p-jc-between">
                  <p-button label="Voltar" (onClick)="prev()" icon="pi pi-angle-left"></p-button>
                  <p-button label="Avançar"(onClick)="nex(selectedProduct)" [disabled]="!selectedProduct" icon="pi pi-angle-right" iconPos="right"></p-button>
              </div>
          </ng-template>
        </p-table>
      </div>
    </div>

    <!--Processador-->
    <div id="processor" class="content" role="tabpanel" aria-labelledby="processor-trigger">
      <div class="p-card">
        <p-table #dt2 [(selection)]="selectedProduct2" [value]="filterProductsCat('processador', 2)" selectionMode="single"
         [globalFilterFields]="['name']" styleClass="p-datatable-sm p-datatable-responsive-demo" scrollHeight="200px" [scrollable]="true">
          <ng-template pTemplate="caption">
              <div class="p-d-flex p-ai-center p-jc-between">
                <span class="p-input-icon-left p-ml-auto">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text"  (input)="dt2.filterGlobal($event.target.value, 'contains')" placeholder="Buscar"/>
              </span>
              </div>
          </ng-template>
          <ng-template pTemplate="header">
              <tr>
                  <th class="text-center">#</th>
                  <th class="text-center">Nome</th>
                  <th class="text-center">Modelo</th>
                  <th class="text-center" pSortableColumn="price">Preço <p-sortIcon field="price"></p-sortIcon></th>
                  <th class="text-center">Escolher</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
              <tr>
                <td class="text-center"><img [src]="images + '/' + product.image" [alt]="product.name" width="100" class="p-shadow-4"/></td>
                <td class="text-center">{{product.name}}</td>
                <td class="text-center">{{product.model}}</td>
                <td class="text-center">{{product.price | currencyBrazil}}</td>
                <td class="text-center">
                  <p-tableRadioButton [value]="product"></p-tableRadioButton>
                </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="summary" let-product>
              <div class="p-d-flex p-ai-end p-jc-between">
                  <p-button label="Voltar" (onClick)="prev()" icon="pi pi-angle-left"></p-button>
                  <p-button label="Avançar" (onClick)="nex(selectedProduct2)" [disabled]="!selectedProduct2" icon="pi pi-angle-right" iconPos="right"></p-button>
              </div>
          </ng-template>
        </p-table>
      </div>
    </div>

    <!--Memória-->
    <div id="memory" class="content" role="tabpanel" aria-labelledby="memory-trigger">
      <div class="p-card">
        <p-table #dt3 [(selection)]="selectedProduct3" [value]="filterProductsCat('memoria-ram', 1)" selectionMode="single"
         [globalFilterFields]="['name']" styleClass="p-datatable-sm p-datatable-responsive-demo" scrollHeight="200px" [scrollable]="true">
          <ng-template pTemplate="caption">
              <div class="p-d-flex p-ai-center p-jc-between">
                <small>*Quantidade poderá ser modificada no final</small>
                <span class="p-input-icon-left p-ml-auto">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text"  (input)="dt3.filterGlobal($event.target.value, 'contains')" placeholder="Buscar"/>
              </span>
              </div>
          </ng-template>
          <ng-template pTemplate="header">
              <tr>
                  <th class="text-center">#</th>
                  <th class="text-center">Nome</th>
                  <th class="text-center">Modelo</th>
                  <th class="text-center" pSortableColumn="price">Preço <p-sortIcon field="price"></p-sortIcon></th>
                  <th class="text-center">Escolher</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
              <tr>
                <td class="text-center"><img [src]="images + '/' + product.image" [alt]="product.name" width="100" class="p-shadow-4"/></td>
                <td class="text-center">{{product.name}}</td>
                <td class="text-center">{{product.model}}</td>
                <td class="text-center">{{product.price | currencyBrazil}}</td>
                <td class="text-center">
                  <p-tableRadioButton [value]="product"></p-tableRadioButton>
                </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="summary" let-product>
              <div class="p-d-flex p-ai-end p-jc-between">
                <p-button label="Voltar" (onClick)="prev()" icon="pi pi-angle-left"></p-button>
                  <p-button label="Avançar" (onClick)="nex(selectedProduct3)" [disabled]="!selectedProduct3" icon="pi pi-angle-right" iconPos="right"></p-button>
              </div>
          </ng-template>
        </p-table>
      </div>
    </div>

    <!--PLaca de video-->
    <div id="vga" class="content" role="tabpanel" aria-labelledby="vga-trigger">
      <div class="p-card">
        <p-table #dt4 [(selection)]="selectedProduct4" [value]="filterProductsCat('placa-de-video', 1)" selectionMode="single"
         [globalFilterFields]="['name']" styleClass="p-datatable-sm p-datatable-responsive-demo" scrollHeight="200px" [scrollable]="true">
          <ng-template pTemplate="caption">
              <div class="p-d-flex p-ai-center p-jc-between">
                <span class="p-input-icon-left p-ml-auto">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text"  (input)="dt4.filterGlobal($event.target.value, 'contains')" placeholder="Buscar"/>
              </span>
              </div>
          </ng-template>
          <ng-template pTemplate="header">
              <tr>
                  <th class="text-center">#</th>
                  <th class="text-center">Nome</th>
                  <th class="text-center">Modelo</th>
                  <th class="text-center" pSortableColumn="price">Preço <p-sortIcon field="price"></p-sortIcon></th>
                  <th class="text-center">Escolher</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
              <tr>
                <td class="text-center"><img [src]="images + '/' + product.image" [alt]="product.name" width="100" class="p-shadow-4"/></td>
                <td class="text-center">{{product.name}}</td>
                <td class="text-center">{{product.model}}</td>
                <td class="text-center">{{product.price | currencyBrazil}}</td>
                <td class="text-center">
                  <p-tableRadioButton [value]="product"></p-tableRadioButton>
                </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="summary" let-product>
              <div class="p-d-flex p-ai-end p-jc-between">
                  <p-button label="Voltar" (onClick)="prev()" icon="pi pi-angle-left"></p-button>
                  <p-button label="Avançar" (onClick)="nex(selectedProduct4)" [disabled]="!selectedProduct4" icon="pi pi-angle-right" iconPos="right"></p-button>
              </div>
          </ng-template>
        </p-table>
      </div>
    </div>

    <!--HD-->
    <div id="hd" class="content" role="tabpanel" aria-labelledby="hd-trigger">
      <div class="p-card">
        <p-table #dt5 [(selection)]="selectedProduct5" [value]="filterProductsCat('hd', 1)" selectionMode="single"
         [globalFilterFields]="['name']" styleClass="p-datatable-sm p-datatable-responsive-demo" scrollHeight="200px" [scrollable]="true">
          <ng-template pTemplate="caption">
              <div class="p-d-flex p-ai-center p-jc-between">
                <small>*Quantidade poderá ser modificada no final</small>
                <span class="p-input-icon-left p-ml-auto">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text"  (input)="dt5.filterGlobal($event.target.value, 'contains')" placeholder="Buscar"/>
              </span>
              </div>
          </ng-template>
          <ng-template pTemplate="header">
              <tr>
                  <th class="text-center">#</th>
                  <th class="text-center">Nome</th>
                  <th class="text-center">Modelo</th>
                  <th class="text-center" pSortableColumn="price">Preço <p-sortIcon field="price"></p-sortIcon></th>
                  <th class="text-center">Escolher</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
              <tr>
                <td class="text-center"><img [src]="images + '/' + product.image" [alt]="product.name" width="100" class="p-shadow-4"/></td>
                <td class="text-center">{{product.name}}</td>
                <td class="text-center">{{product.model}}</td>
                <td class="text-center">{{product.price | currencyBrazil}}</td>
                <td class="text-center">
                  <p-tableRadioButton [value]="product"></p-tableRadioButton>
                </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="summary" let-product>
              <div class="p-d-flex p-ai-end p-jc-between">
                  <p-button label="Voltar" (onClick)="prev()" icon="pi pi-angle-left"></p-button>
                  <p-button label="Avançar" (onClick)="nex(selectedProduct5)" [disabled]="!selectedProduct5" icon="pi pi-angle-right" iconPos="right"></p-button>
              </div>
          </ng-template>
        </p-table>
      </div>
    </div>

    <!--SSD-->
    <div id="ssd" class="content" role="tabpanel" aria-labelledby="ssd-trigger">
      <div class="p-card">
        <p-table #dt6 [(selection)]="selectedProduct6" [value]="filterProductsCat('ssd', 2)" selectionMode="single"
         [globalFilterFields]="['name']" styleClass="p-datatable-sm p-datatable-responsive-demo" scrollHeight="200px" [scrollable]="true">
          <ng-template pTemplate="caption">
              <div class="p-d-flex p-ai-center p-jc-between">
                <small>*Quantidade poderá ser modificada no final</small>
                <span class="p-input-icon-left p-ml-auto">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text"  (input)="dt6.filterGlobal($event.target.value, 'contains')" placeholder="Buscar"/>
              </span>
              </div>
          </ng-template>
          <ng-template pTemplate="header">
              <tr>
                  <th class="text-center">#</th>
                  <th class="text-center">Nome</th>
                  <th class="text-center">Modelo</th>
                  <th class="text-center" pSortableColumn="price">Preço <p-sortIcon field="price"></p-sortIcon></th>
                  <th class="text-center">Escolher</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
              <tr>
                <td class="text-center"><img [src]="images + '/' + product.image" [alt]="product.name" width="100" class="p-shadow-4"/></td>
                <td class="text-center">{{product.name}}</td>
                <td class="text-center">{{product.model}}</td>
                <td class="text-center">{{product.price | currencyBrazil}}</td>
                <td class="text-center">
                  <p-tableRadioButton [value]="product"></p-tableRadioButton>
                </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="summary" let-product>
              <div class="p-d-flex p-ai-end p-jc-between">
                  <p-button label="Voltar" (onClick)="prev()" icon="pi pi-angle-left"></p-button>
                  <p-button label="Avançar" (onClick)="selectedProduct6 ? nex(selectedProduct6) : nex(selectedProduct6, 'no')" icon="pi pi-angle-right" iconPos="right"></p-button>
              </div>
          </ng-template>
        </p-table>
      </div>
    </div>

    <!--Fonte-->
    <div id="powers" class="content" role="tabpanel" aria-labelledby="powers-trigger">
      <div class="p-card">
        <p-table #dt7 [(selection)]="selectedProduct7" [value]="filterProductsCat('fonte', 1)" selectionMode="single"
         [globalFilterFields]="['name']" styleClass="p-datatable-sm p-datatable-responsive-demo" scrollHeight="200px" [scrollable]="true">
          <ng-template pTemplate="caption">
              <div class="p-d-flex p-ai-center p-jc-between">
                <span class="p-input-icon-left p-ml-auto">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text"  (input)="dt7.filterGlobal($event.target.value, 'contains')" placeholder="Buscar"/>
              </span>
              </div>
          </ng-template>
          <ng-template pTemplate="header">
              <tr>
                  <th class="text-center">#</th>
                  <th class="text-center">Nome</th>
                  <th class="text-center">Modelo</th>
                  <th class="text-center" pSortableColumn="price">Preço <p-sortIcon field="price"></p-sortIcon></th>
                  <th class="text-center">Escolher</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
              <tr>
                <td class="text-center"><img [src]="images + '/' + product.image" [alt]="product.name" width="100" class="p-shadow-4"/></td>
                <td class="text-center">{{product.name}}</td>
                <td class="text-center">{{product.model}}</td>
                <td class="text-center">{{product.price | currencyBrazil}}</td>
                <td class="text-center">
                  <p-tableRadioButton [value]="product"></p-tableRadioButton>
                </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="summary" let-product>
              <div class="p-d-flex p-ai-end p-jc-between">
                  <p-button label="Voltar" (onClick)="prev()" icon="pi pi-angle-left"></p-button>                
                  <p-button label="Avançar" (onClick)="nex(selectedProduct7)" [disabled]="!selectedProduct7" icon="pi pi-angle-right" iconPos="right"></p-button>
              </div>
          </ng-template>
        </p-table>
      </div>
    </div>

    <!--Gabinete-->
    <div id="gabinet" class="content" role="tabpanel" aria-labelledby="gabinet-trigger">
      <div class="p-card">
        <p-table #dt8 [(selection)]="selectedProduct8" [value]="filterProductsCat('gabinete', 2)" selectionMode="single"
         [globalFilterFields]="['name']" styleClass="p-datatable-sm p-datatable-responsive-demo" scrollHeight="200px" [scrollable]="true">
          <ng-template pTemplate="caption">
              <div class="p-d-flex p-ai-center p-jc-between">
                <span class="p-input-icon-left p-ml-auto">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text"  (input)="dt8.filterGlobal($event.target.value, 'contains')" placeholder="Buscar"/>
              </span>
              </div>
          </ng-template>
          <ng-template pTemplate="header">
              <tr>
                  <th class="text-center">#</th>
                  <th class="text-center">Nome</th>
                  <th class="text-center">Modelo</th>
                  <th class="text-center" pSortableColumn="price">Preço <p-sortIcon field="price"></p-sortIcon></th>
                  <th class="text-center">Escolher</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
              <tr>
                <td class="text-center"><img [src]="images + '/' + product.image" [alt]="product.name" width="100" class="p-shadow-4"/></td>
                <td class="text-center">{{product.name}}</td>
                <td class="text-center">{{product.model}}</td>
                <td class="text-center">{{product.price | currencyBrazil}}</td>
                <td class="text-center">
                  <p-tableRadioButton [value]="product"></p-tableRadioButton>
                </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="summary" let-product>
              <div class="p-d-flex p-ai-end p-jc-between">
                  <p-button label="Voltar" (onClick)="prev()" icon="pi pi-angle-left"></p-button>
                  <p-button label="Avançar" (onClick)="nex(selectedProduct8)" [disabled]="!selectedProduct8" icon="pi pi-angle-right" iconPos="right"></p-button>
              </div>
          </ng-template>
        </p-table>
      </div>
    </div>

    <!--Cooler-->
    <div id="cooler" class="content" role="tabpanel" aria-labelledby="cooler-trigger">
      <div class="p-card">
        <p-table #dt9 [(selection)]="selectedProduct9" [value]="filterProductsCat('cooler', 2)" selectionMode="single"
         [globalFilterFields]="['name']" styleClass="p-datatable-sm p-datatable-responsive-demo" scrollHeight="200px" [scrollable]="true">
          <ng-template pTemplate="caption">
              <div class="p-d-flex p-ai-center p-jc-between">
                <span class="p-input-icon-left p-ml-auto">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text"  (input)="dt9.filterGlobal($event.target.value, 'contains')" placeholder="Buscar"/>
              </span>
              </div>
          </ng-template>
          <ng-template pTemplate="header">
              <tr>
                  <th class="text-center">#</th>
                  <th class="text-center">Nome</th>
                  <th class="text-center">Modelo</th>
                  <th class="text-center" pSortableColumn="price">Preço <p-sortIcon field="price"></p-sortIcon></th>
                  <th class="text-center">Escolher</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
              <tr>
                <td class="text-center"><img [src]="images + '/' + product.image" [alt]="product.name" width="100" class="p-shadow-4"/></td>
                <td class="text-center">{{product.name}}</td>
                <td class="text-center">{{product.model}}</td>
                <td class="text-center">{{product.price | currencyBrazil}}</td>
                <td class="text-center">
                  <p-tableRadioButton [value]="product"></p-tableRadioButton>
                </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="summary" let-product>
              <div class="p-d-flex p-ai-end p-jc-between">
                  <p-button label="Voltar" (onClick)="prev()" icon="pi pi-angle-right" iconPos="right"></p-button>
                  <p-button label="Avançar" (onClick)="selectedProduct9 ? nex(selectedProduct9) : nex(selectedProduct9, 'no')" icon="pi pi-angle-right" iconPos="right"></p-button>
              </div>
          </ng-template>
        </p-table>
      </div>
    </div>

    <!--Monitor-->
    <div id="monitor" class="content" role="tabpanel" aria-labelledby="monitor-trigger">
      <div class="p-card">
        <p-table #dt10 [(selection)]="selectedProduct10" [value]="filterProductsCat('monitores', 1)" selectionMode="single"
         [globalFilterFields]="['name']" styleClass="p-datatable-sm p-datatable-responsive-demo" scrollHeight="200px" [scrollable]="true">
          <ng-template pTemplate="caption">
              <div class="p-d-flex p-ai-center p-jc-between">
                <span class="p-input-icon-left p-ml-auto">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text"  (input)="dt10.filterGlobal($event.target.value, 'contains')" placeholder="Buscar"/>
              </span>
              </div>
          </ng-template>
          <ng-template pTemplate="header">
              <tr>
                  <th class="text-center">#</th>
                  <th class="text-center">Nome</th>
                  <th class="text-center">Modelo</th>
                  <th class="text-center" pSortableColumn="price">Preço <p-sortIcon field="price"></p-sortIcon></th>
                  <th class="text-center">Escolher</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
              <tr>
                <td class="text-center"><img [src]="images + '/' + product.image" [alt]="product.name" width="100" class="p-shadow-4"/></td>
                <td class="text-center">{{product.name}}</td>
                <td class="text-center">{{product.model}}</td>
                <td class="text-center">{{product.price | currencyBrazil}}</td>
                <td class="text-center">
                  <p-tableRadioButton [value]="product"></p-tableRadioButton>
                </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="summary" let-product>
              <div class="p-d-flex p-ai-end p-jc-between">
                  <p-button label="Voltar" (onClick)="prev()" icon="pi pi-angle-left"></p-button>
                  <p-button label="Avançar" (onClick)="selectedProduct10 ? nex(selectedProduct10) : nex(selectedProduct10, 'no')" icon="pi pi-angle-right" iconPos="right"></p-button>
              </div>
          </ng-template>
        </p-table>
      </div>
    </div>

    <!--Teclado-->
    <div id="teclado" class="content" role="tabpanel" aria-labelledby="teclado-trigger">
      <div class="p-card">
        <p-table #dt11 [(selection)]="selectedProduct11" [value]="filterProductsCat('teclado', 1)" selectionMode="single"
         [globalFilterFields]="['name']" styleClass="p-datatable-sm p-datatable-responsive-demo" scrollHeight="200px" [scrollable]="true">
          <ng-template pTemplate="caption">
              <div class="p-d-flex p-ai-center p-jc-between">
                <span class="p-input-icon-left p-ml-auto">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text"  (input)="dt11.filterGlobal($event.target.value, 'contains')" placeholder="Buscar"/>
              </span>
              </div>
          </ng-template>
          <ng-template pTemplate="header">
              <tr>
                  <th class="text-center">#</th>
                  <th class="text-center">Nome</th>
                  <th class="text-center">Modelo</th>
                  <th class="text-center" pSortableColumn="price">Preço <p-sortIcon field="price"></p-sortIcon></th>
                  <th class="text-center">Escolher</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
              <tr>
                <td class="text-center"><img [src]="images + '/' + product.image" [alt]="product.name" width="100" class="p-shadow-4"/></td>
                <td class="text-center">{{product.name}}</td>
                <td class="text-center">{{product.model}}</td>
                <td class="text-center">{{product.price | currencyBrazil}}</td>
                <td class="text-center">
                  <p-tableRadioButton [value]="product"></p-tableRadioButton>
                </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="summary" let-product>
              <div class="p-d-flex p-ai-end p-jc-between">
                  <p-button label="Voltar" (onClick)="prev()" icon="pi pi-angle-left"></p-button>
                  <p-button label="Avançar" (onClick)="selectedProduct11 ? nex(selectedProduct11) : nex(selectedProduct11, 'no')"  icon="pi pi-angle-right" iconPos="right"></p-button>
              </div>
          </ng-template>
        </p-table>
      </div>
    </div>

    <!--Mouse-->
    <div id="mouse" class="content" role="tabpanel" aria-labelledby="mouse-trigger">
      <div class="p-card">
        <p-table #dt12 [(selection)]="selectedProduct12" [value]="filterProductsCat('mouse', 1)" selectionMode="single"
         [globalFilterFields]="['name']" styleClass="p-datatable-sm p-datatable-responsive-demo" scrollHeight="200px" [scrollable]="true">
          <ng-template pTemplate="caption">
              <div class="p-d-flex p-ai-center p-jc-between">
                <span class="p-input-icon-left p-ml-auto">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text"  (input)="dt12.filterGlobal($event.target.value, 'contains')" placeholder="Buscar"/>
              </span>
              </div>
          </ng-template>
          <ng-template pTemplate="header">
              <tr>
                  <th class="text-center">#</th>
                  <th class="text-center">Nome</th>
                  <th class="text-center">Modelo</th>
                  <th class="text-center" pSortableColumn="price">Preço <p-sortIcon field="price"></p-sortIcon></th>
                  <th class="text-center">Escolher</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
              <tr>
                <td class="text-center"><img [src]="images + '/' + product.image" [alt]="product.name" width="100" class="p-shadow-4"/></td>
                <td class="text-center">{{product.name}}</td>
                <td class="text-center">{{product.model}}</td>
                <td class="text-center">{{product.price | currencyBrazil}}</td>
                <td class="text-center">
                  <p-tableRadioButton [value]="product"></p-tableRadioButton>
                </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="summary" let-product>
              <div class="p-d-flex p-ai-end p-jc-between">
                  <p-button label="Voltar" (onClick)="prev()" icon="pi pi-angle-left"></p-button>
                  <p-button label="Avançar" (onClick)="selectedProduct12 ? nex(selectedProduct12) : nex(selectedProduct12, 'no')" icon="pi pi-angle-right" iconPos="right"></p-button>
              </div>
          </ng-template>
        </p-table>
      </div>
    </div>

    <!--HeadSet-->
    <div id="headset" class="content" role="tabpanel" aria-labelledby="headset-trigger">
      <div class="p-card">
        <p-table #dt13 [(selection)]="selectedProduct13" [value]="filterProductsCat('headset', 1)" selectionMode="single"
         [globalFilterFields]="['name']" styleClass="p-datatable-sm p-datatable-responsive-demo" scrollHeight="200px" [scrollable]="true">
          <ng-template pTemplate="caption">
              <div class="p-d-flex p-ai-center p-jc-between">
                <small>*Quantidade poderá ser modificada no final</small>
                <span class="p-input-icon-left p-ml-auto">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text"  (input)="dt13.filterGlobal($event.target.value, 'contains')" placeholder="Buscar"/>
              </span>
              </div>
          </ng-template>
          <ng-template pTemplate="header">
              <tr>
                  <th class="text-center">#</th>
                  <th class="text-center">Nome</th>
                  <th class="text-center">Modelo</th>
                  <th class="text-center" pSortableColumn="price">Preço <p-sortIcon field="price"></p-sortIcon></th>
                  <th class="text-center">Escolher</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
              <tr>
                <td class="text-center"><img [src]="images + '/' + product.image" [alt]="product.name" width="100" class="p-shadow-4"/></td>
                <td class="text-center">{{product.name}}</td>
                <td class="text-center">{{product.model}}</td>
                <td class="text-center">{{product.price | currencyBrazil}}</td>
                <td class="text-center">
                  <p-tableRadioButton [value]="product"></p-tableRadioButton>
                </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="summary" let-product>
              <div class="p-d-flex p-ai-end p-jc-between">
                  <p-button label="Voltar" (onClick)="prev()" icon="pi pi-angle-left"></p-button>
                  <p-button label="Avançar" (onClick)="selectedProduct13 ? nex(selectedProduct13) : nex(selectedProduct13, 'no')" icon="pi pi-angle-right" iconPos="right"></p-button>
              </div>
          </ng-template>
        </p-table>
      </div>
    </div>

    <div id="confirm" class="content" role="tabpanel" aria-labelledby="confirm-trigger">
      <div class="p-card" *ngIf="productPersonalized.length > 0">
        <div class="p-grid p-2">
            <div class="p-col" *ngFor="let product of productPersonalized">
                <img src="{{images}}/{{product.image}}" alt="{{product.name}}" width="50">
                <h6 class="my-2"><i class="far fa-truck"></i> {{product.name}}</h6>
                <small>{{product.price|currencyBrazil}}</small>
            </div>
           
        </div>
        <div class="p-grid p-2 p-nogutter p-justify-between">
            <p-button label="Voltar" (onClick)="prev()" icon="pi pi-angle-left"></p-button>
            <p-button label="Completar" (onClick)="doSetup()" icon="pi pi-angle-right" iconPos="right" styleClass="p-button-success"></p-button>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner [name]="'load'" bdColor = "rgba(144,144,144,0.71)" size = "medium" color = "#4dd10b" type = "ball-spin" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<ngx-spinner name="initial" bdColor = "rgba(0, 0, 0, 1)" size = "large" color = "#6ACA25" type = "pacman" [fullScreen] = "true"><p style="color: white" > Carregando... </p></ngx-spinner>