/* You can add global styles to this file, and also import other style files */
$primary-gradient: #686868, #282828;
$primary-green: #6ACA25;

@mixin gradient($direction, $list) { 
    background: -webkit-linear-gradient($direction, $list);
    background: -moz-linear-gradient($direction, $list);
    background: -o-linear-gradient($direction, $list);
    background: linear-gradient($direction, $list);  
}

body {
    @include gradient(to right, $primary-gradient);
}

.my-icon-class {
    color: $primary-green;
    width: 4vw !important;
    transition: .4s ease;
    animation:  mymove 2s infinite;
    cursor: pointer;
    margin: auto;

 }

 @keyframes mymove {
    from {color: #686868;}
    to {color: $primary-green; transform: scale(1.15);}
  }

 @media only screen and (max-width: 480px){
     .my-icon-class {
         width: 7vw !important;
     }
 }
 