<div class="container w-50 mx-auto py-5 px-4 text-white rounded-lg border-success">
  <div class="p-grid justify-content-center">
    <div class="p-col p-md-6">
      <span>
      <fa-icon [icon]="faUser" size="lg" class="mr-2" [styles]="{'color':'black'}"></fa-icon>
      <h5 *ngIf="mode == 'login'" class="d-inline-block">Entrar</h5>
      <h5 *ngIf="mode == 'register'" class="d-inline-block font-weight-light">Cadastrar</h5>
      </span>
  
      <form class="mt-4" [formGroup]="formLoRe">
        <div *ngIf="mode == 'register'" class="p-field my-4">
          <span class="p-float-label">
            <input pRipple required pInputText type="text" id="nameInp" formControlName="name"
            [ngClass]="{'p-invalid': formLoRe.get('name').errors && formLoRe.get('name').touched}" (change)="dirtyForm()">
            <label for="nameInp">Nome</label>
          </span>
          <small *ngIf="formLoRe.get('name').hasError('required') && formLoRe.get('name').touched" class="p-invalid">
            Campo obrigatório
          </small>
          <small *ngIf="formLoRe.get('name').hasError('minlength')" class="p-invalid">
            Insira nome completo
          </small>
        </div>

        <div class="p-field my-4">
          <span class="p-float-label">
            <input pRipple pInputText type="email" id="emailInp" formControlName="email" [ngClass]="{'p-invalid': formLoRe.get('email').errors && formLoRe.get('email').touched}" (change)="dirtyForm()">
            <label for="emailInp">Email</label>
          </span>
          <small *ngIf="formLoRe.get('email').touched  && formLoRe.get('email').hasError('required')" class="p-invalid">
            Campo obrigatório
          </small>
          <small *ngIf="formLoRe.get('email').touched  && formLoRe.get('email').hasError('email')" class="p-invalid">
            Email inválido
          </small>
        </div>

        <div *ngIf="mode == 'register'" class="p-field my-4">
          <span class="p-float-label">
            <input pRipple type="text" id="cpfInp" pInputText cpf [textMask]="{mask: MASKS.cpf.textMask}" formControlName="cpf"
            [ngClass]="{'p-invalid': formLoRe.get('cpf').errors && formLoRe.get('cpf').touched}" (change)="dirtyForm()">
            <label for="cpfInp">CPF</label>
          </span>
          <small *ngIf="formLoRe.get('cpf').touched && formLoRe.get('cpf').hasError('required')" class="p-invalid">
            Campo obrigatório
          </small>
          <small *ngIf="formLoRe.get('cpf').touched && formLoRe.get('cpf').hasError('cpf')" class="p-invalid">
            CPF inválido
          </small>
        </div>

        <div *ngIf="mode == 'register'" class="p-field my-4">
          <span class="p-float-label">
            <input pRipple telefone pInputText #telefone [textMask]="{mask: MASKS.telefone.textMaskFunction}" type="tel" id="phoneInp" formControlName="phone"
            [ngClass]="{'p-invalid': formLoRe.get('phone').errors && formLoRe.get('phone').touched}" (change)="dirtyForm()">
            <label for="phoneInp">Telefone</label>
          </span>
        
          <small *ngIf="formLoRe.get('phone').touched && formLoRe.get('phone').hasError('telefone')" class="p-invalid">
            Telefone inválido
          </small>
          <small *ngIf="formLoRe.get('phone').touched && formLoRe.get('phone').hasError('required')" class="p-invalid">
            Campo obrigátorio
          </small>
        </div>
    
        <div class="p-field my-4">
          <span class="p-float-label">
            <input *ngIf="mode === 'register'" pRipple pPassword [promptLabel]="'Digite sua senha'" [weakLabel]="'Fraca'" [mediumLabel]="'Média'" [strongLabel]="'Forte'" type="password" formControlName="password" required 
            [ngClass]="{'p-invalid': formLoRe.get('password').errors && formLoRe.get('password').touched}" (change)="dirtyForm()">

            <input pRipple pInputText *ngIf="mode === 'login'" type="password" formControlName="password" required 
            [ngClass]="{'p-invalid': formLoRe.get('password').errors && formLoRe.get('password').touched}" (change)="dirtyForm()">
            <label for="pwdInp">Senha</label>
          </span>

          <small *ngIf="formLoRe.get('password').touched && formLoRe.get('password').hasError('required')" class="p-invalid">
            Campo obrigatório
          </small>
          <small *ngIf="pwd.errors?.rangeLength && formLoRe.get('password').touched">
            Insira no mínimo 6 caracteres 
          </small>
        </div>
        
        <div *ngIf="mode == 'register'" class="p-field my-4">
          <span class="p-float-label">
            <input pRipple pPassword [promptLabel]="'Digite sua senha'" [weakLabel]="'Fraca'" [mediumLabel]="'Média'" [strongLabel]="'Forte'" type="password" name="confirm" required formControlName="confirmPassword" [equalTo]="pwd"
            [ngClass]="{'p-invalid': confirmPwd.errors?.equalTo && formLoRe.get('confirmPassword').touched}" (change)="dirtyForm()">
            <label for="pwdInp">Confirmar Senha</label>
          </span>
          <small *ngIf="confirmPwd.errors?.equalTo && formLoRe.get('confirmPassword').touched" class="p-invalid d-block">
            Senhas incompatíveis
          </small>
          <small *ngIf="formLoRe.get('confirmPassword').hasError('required') && formLoRe.get('confirmPassword').touched" class="p-invalid">
            Campo obrigatório
          </small>
        </div>
      
        <div class="row mt-5">
          <div *ngIf="mode == 'login'" class="col mx-auto d-flex">
            <button pRipple pButton label="Entrar" type="submit" class="p-button p-button-sm mx-1 p-button-secondary" (click)="emitLogin()" [disabled]="formLoRe.get('email').invalid || formLoRe.get('password').invalid"></button>
            <button pRipple [icon]="'fas fa-user-plus'" pTooltip="Cadastrar" pButton routerLink="/Inicio/conta/cadastrar" class="p-button p-button-sm"></button>
          </div>
          <div *ngIf="mode == 'register'" class="col mx-auto">
            <button pRipple pButton label="Cadastrar" type="submit" class="p-button mx-1 p-button-sm p-button-secondary" (click)="emitRegister()"  [disabled]="!formLoRe.valid"></button>
            <button pRipple [icon]="'fas fa-sign-in'" pTooltip="Entrar" pButton routerLink="/Inicio/conta/entrar" class="p-button p-button-sm"></button>
          </div>
        </div>
      </form>
    </div>

    <div *ngIf="errors && errors.length > 0" class="p-col">
      <h6>Opa! Algo deu errado
        <span class="badge badge-primary badge-pill">{{errors.length}}</span>
      </h6>
      <ul class="list-group list-group-flush">
        <li *ngFor="let error of errors" class="list-group-item text-danger" style="background-color: rgba(0, 0, 0, 0);">{{error}}</li>
      </ul>
    </div>
  </div>
  
</div>
